.chat_side_lists_gruop
  = link_to 'http://google.co.jp' do
    .chat_side_lists_group_title
      %h Groupタイトル
    .chat_side_lists_group_text
      %p グループ内のメッセージのやりとりプレビュー
.chat_side_lists_gruop
  = link_to 'http://google.co.jp' do
    .chat_side_lists_group_title
      %h Groupタイトル
    .chat_side_lists_group_text
      %p グループ内のメッセージのやりとりプレビューグループ内のメッセージのやりとりプレビューグループ内のメッセージのやりとりプレビューグループ内のメッセージのやりとりプレビューグループ内のメッセージのやりとりプレビュー
