%div{:class => "chat_side_lists"}
  %div{:class => "chat_side_lists_gruop"}
    %div{:class => "chat_side_lists_group_title"}
      %h Groupタイトル
    %div{:class => "chat_side_lists_group_text"}
      %p グループ内のメッセージのやりとりプレビュー


