%div{:class => "chat_side_lists_gruop"}
  = link_to 'http://google.co.jp' do
    %div{:class => "chat_side_lists_group_title"}
      %h Groupタイトル
    %div{:class => "chat_side_lists_group_text"}
      %p グループ内のメッセージのやりとりプレビュー
%div{:class => "chat_side_lists_gruop"}
  = link_to 'http://google.co.jp' do
    %div{:class => "chat_side_lists_group_title"}
      %h Groupタイトル
    %div{:class => "chat_side_lists_group_text"}
      %p グループ内のメッセージのやりとりプレビューグループ内のメッセージのやりとりプレビューグループ内のメッセージのやりとりプレビューグループ内のメッセージのやりとりプレビューグループ内のメッセージのやりとりプレビュー
