.message
  .message__name
    %p mouri1mouri2mouri3mouri4mouri5mouri6
  .message__time
    %p 2018/11/17 14:58:49
  .message__text
    %p texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
  .message__image
    %img{alt: "顔写真", height: "199", src: "https://s3-ap-northeast-1.amazonaws.com/reviewchatspace/uploads/message/image/2903/himawari.jpg", width: "300"}
