.chat_main_message_body
  .chat_main_message_body_name
    %p mouri1mouri2mouri3mouri4mouri5mouri6
  .chat_main_message_body_time
    %p 2018/11/17 14:58:49
  .chat_main_message_body_text
    %p texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
  .chat_main_message_body_image
    %img{alt: "顔写真", height: "199", src: "https://s3-ap-northeast-1.amazonaws.com/reviewchatspace/uploads/message/image/2903/himawari.jpg", width: "300"}
