.chat_side
  .chat_side_top
    .chat_side_top_name
      %p#user ユーザーの名前
    .chat_side_top_icon
      = link_to 'http://google.co.jp' do
        %i.fa.fa-edit
      = link_to 'http://yahoo.co.jp' do
        %i.fa.fa-cog
  .chat_side_lists
    = render partial:'messages/group'
