.chat-side
  .top
    .top__name
      %p#user ユーザーの名前
    .top__icon
      = link_to 'http://google.co.jp' do
        %i.fa.fa-edit
      = link_to 'http://yahoo.co.jp' do
        %i.fa.fa-cog
  .lists
    = render partial:'messages/group'
