%div{:class => "header"}
  %h1 メッセージ投稿完了しました

%div{:class => "chat_side"}
  %div{:class => "chat_side_top"}
    %div{:class => "chat_side_top_name"}
      %p{:id => "user"} ユーザーの名前が表示される
    %div{:class => "chat_side_top_icon"}
      = link_to 'http://google.co.jp' do
        %i.fa.fa-edit
      = link_to 'http://yahoo.co.jp' do
        %i.fa.fa-cog
  = render partial:'messages/group'

%div{:class => "chat_main"}
