.chat-side
  .top
    .top__name
      %p#user
        = current_user.name
    .top__icon
      = link_to edit_user_path(current_user) do
        %i.fa.fa-edit
      = link_to new_group_path do
        %i.fa.fa-cog
  .lists
    = render partial:'messages/group'
