@import "./mixin";

.header {
  background-color: #38AEF0;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.contents_left{
  background-color: #253141;
  width: 300px;
  height:1000px;
  color: #FFF;
  .contents_left_top{
    height: 140px;
    background-color: black;
    .contents_left_top_name{
      width:179px;
      @include contents_start_position;
      font-weight: 700;
      font-size: 20px;
      margin-left: 20px;
      padding-left: 1px;
      word-wrap: break-word;
      float: left;
    }
    .contents_left_top_icon{
      width:80px;
      @include contents_start_position;
      margin-right: 20px;
      padding-top: 5px;
      float: right;
    }
  }
  .contents_left_lists{
    background-color: #393e4f;
    .contents_left_lists_gruop{
      width:260px;
      margin-left: 20px;
      .contents_left_lists_group_title{
        font-size: 15px;
        padding-top: 20px;
        word-wrap: break-word;
      }
      .contents_left_lists_group_text{
        font-size: 11px;
        padding-top: 5px;
        padding-bottom: 20px;
        word-wrap: break-word;
      }
    }
  }
}

a {
color:#FFF;
text-decoration: none ;
}
